h1{
    margin-left: 15px;
}

.field{
    width: 400px;
}

body{
    background-image: url("Kintore7.jpg");
    background-size: cover;
    color: black;
    margin-left: 30px;
    font-weight: bold;
}

.tableArea{
    background-color: white;
}

.navbar navbar-default{
    margin-top: 200px;
}